<body bgcolor="black" text="white" link="#90c040" alink="#90c040" vlink="#90c040" topmargin="0" leftmargin="0">

    <table width="100%" height="100%" cellpadding="0" cellspacing="0">
        <tbody><tr>
            <td align="middle">
                <center>
                    <div style="LEFT: 0px; TOP: 0px; WIDTH: 500px; POSITION: relative;">
<table cellpadding="0" cellspacing="0">
    <tbody><tr>
        <td align="top"><img src="img\edge_a.jpg" width="100" height="43" hspace="0" vspace="0"></td>
        <td align="top"><img src="img\edge_c.jpg" width="400" height="42" hspace="0" vspace="0"></td>
        <td align="top"><img src="img\edge_d.jpg" width="100" height="43" hspace="0" vspace="0"></td>
    </tr>
</tbody></table>
<table width="600" cellpadding="0" cellspacing="0" border="0" background="img\background2.jpg">
    <tbody><tr>
        <td align="bottom">
            <center>

<img src="img\2004hq.png" width="312" height="100">


<br>
<table bgcolor="black" cellpadding="0" cellspacing="0"><tbody><tr><td><img src="img\fm_top.gif"></td></tr></tbody></table>
<table width="500" cellpadding="0" cellspacing="0" border="0" background="img\fm_middle.gif">
    <tbody><tr>
        <td width="7"></td>
        <td align="bottom" style="background-color: #000">
            <center>
<img src="img\blank.gif" height="7" width="1"><br>

<a href="index.php">Main Menu</a> - <a href="https://2004.lostcity.rs/worldmap">World Map</a> - <a href="https://2004.lostcity.rs/hiscores">Hiscores</a> - <a href="https://lostcity.markets">Market Place</a> - <a href="?p=changelog">Change Log</a> 

<table bgcolor="black" cellpadding="0" cellspacing="0">
   <tbody><tr valign="top">
     <td width="350">
       <center>
         <table height="10">
           <tbody><tr>
             <td>
               <table width="350">
               </tbody></table>
             </td>
           </tr>
         </tbody></table>
       </center>
     </td>
   </tr>
 </tbody></table>
             </center>
         </td>
         <td width="7"></td>
     </tr>
 </tbody></table>
 <table bgcolor="black" cellpadding="0" cellspacing="0"><tbody><tr><td><img src="img\fm_top.gif"></td></tr></tbody></table>
 <table width="500" cellpadding="0" cellspacing="0" border="0" background="img\fm_middle.gif">
  <tr>
    <td width=7></td>
    <td valign="bottom" style="background-color: #000">
        <center>
<td valign="bottom" style="background-color: #000">
            <center>
<br>