.search-wrapper {
    position: relative;
    display: inline-block;
    width: 250px;
    margin-right: 1em;
}

.search-wrapper .suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.950);
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    z-index: 1000;
    padding: 0;
    margin: 4px 0 0;
    list-style: none;
}

.search-wrapper .suggestions li {
    padding: 6px 8px;
    cursor: pointer;
}

.search-wrapper .suggestions li:hover {
    background: #241801ed;
}
.search-wrapper .suggestions:empty {
    display: none;
}
.calculators {
  .subtable {
    width: auto;
    border-collapse: collapse;
    margin: 0.5em 0;
  }
  .subtable th {
    font-size: 0.9em;
    border: none;
    text-align: center;
    padding: 2px 2px;
    color: yellow;
    font-weight: bold;
  }
  .subtable td {
    text-align: left;
    padding: 2px 2px;
    color: #ddd;
  }
  .subtable tr + tr td {
    border: none;
  }
}